h3{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('calligraphy/calli4.jpg');
    background-position: center;
}
img{
    width: 100px;
    border: 5px solid aqua;
}
.tagline{
    font-size: 1.3em;
    color: #777;
    font-style: italic;
}